#container{
  padding: 5 px;
  margin: 5 px;
  display:flex;
  flex-direction: row;
  align-items: flex-start;
  flex-wrap: wrap;
  align-items: stretch;
  justify-content: space-between;
}

#book{
  align-items: center;
  border: 1px solid black;
  display:flex;
  display: inline-block;
  flex-direction: row;
  width: 300px;
  height: auto;
  align-content: top;
  flex-wrap: wrap;
  margin-bottom: 10px;
}

.title{
  font-size: 16px;
  font-weight: bold;
}

img{
  width: 250px;
  height: auto;
}

.expanded{
  font-style:italic;
}