*{
  font-family:Arial, Helvetica, sans-serif
}

#container{
  padding: 5 px;
  margin: 5 px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  flex-wrap: wrap;
  align-items: stretch;
  justify-content: space-between;
  background-image: linear-gradient(to bottom right, rgb(236, 216, 216), rgb(161, 161, 155));
}

#book{
  padding: 5px;
  background-color: rgba(250, 235, 215, 0.521);
  display: flex;
  flex-direction: column;
  height: auto;
  width: 400 px;
  align-content: top;
  flex-wrap: wrap;
  margin-bottom: 10px;
  box-shadow:rgb(161, 161, 155) 2px 5px;
}

#head{
  background-color: rgb(219, 190, 153);
  box-shadow:rgb(161, 161, 155) 2px 5px;
}

.card_top{
  display:flex;
  flex-direction: row;
}
.text_info{
  width: 200px;
}

.title{
  font-size: 18px;
  font-weight: bold;
}

img{
  width: 200px;
  height: auto;
  box-shadow: slategrey  2px 5px;
}

img:hover{
  transform: scale(1.5);
}
.expanded{
  font-style:italic;
}

#url{
  width: min-content;
  font-style:normal;
}

.detail{
  width: 390px;
}