#container{
  padding: 5 px;
  margin: 5 px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  flex-wrap: wrap;
  align-items: stretch;
  justify-content: space-between;
}

#book{
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  height: auto;
  width: 400 px;
  align-content: top;
  flex-wrap: wrap;
  margin-bottom: 10px;
}

.card_top{
  display:flex;
  flex-direction: row;
}
.text_info{
  width: 200px;
}

.title{
  font-size: 16px;
  font-weight: bold;
}

img{
  width: 200px;
  height: auto;
}

.expanded{
  font-style:italic;
}

#url{
  width: min-content;
  font-style:normal;
}

.detail{
  width: 390px;
}